.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ffecd1;
}

.carousel-images {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.carousel-image-container {
  flex: 0 0 auto;
  width: 33%;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-image:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hero-section {
  background-color: #ffecd1;
  margin-top: 90px;
}

@media (max-width: 768px) {
  .carousel-image-container {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .carousel-image-container {
    width: 100%;
  }
}
