.content-wrapper {
  padding: 1px 10px;
  background-color: #ffecd1;
  padding-bottom: 80px;
}

.hero-section {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-text {
  font-size: 1.125rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

/* Mobile  */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .section-text {
    font-size: 1rem;
  }

  .hero-section {
    margin-top: 100px;
  }
}
