.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-top: 1px solid darkorange;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.footer-content {
  display: flex;
  justify-content: space-;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.footer-section {
  flex: 1;
  padding: 5px;
  min-width: 150px;
}

.footer-heading {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

.footer-links-horizontal {
  list-style-type: none;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  color: darkorange;
  font-weight: bold;
  display: block;
}

.footer-link:hover {
  color: #ff7043;
}

.footer-address p {
  margin: 0;
}

.footer-bottom {
  text-align: center;
  padding-top: 5px;
}

.footer-bottom p {
  font-size: 0.875rem;
  color: #555;
}

@media (max-width: 768px) {
  .footer {
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-section {
    flex: 1;
    padding: 10px;
    min-width: 100%;
    text-align: center;
  }

  .footer-links-horizontal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-link {
    text-align: center;
  }

  .footer-bottom {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 8px 10px;
  }
  .footer-heading {
    font-size: 1rem;
  }
  .footer-link {
    font-size: 0.9rem;
  }

  .footer-bottom p {
    font-size: 0.75rem;
  }
}
