.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid darkorange;
  background-color: white;
  margin-right: 5px;
}

#navbar-top {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: darkorange;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: darkorange;
  font-weight: bold;
}

.navbar-logo {
  width: 110px;
  height: auto;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .navbar-logo {
    width: 90px;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .navbar-logo {
    width: 80px;
    margin-bottom: 15px;
  }
}
