.product-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 120px;
}
.links-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.product-buttons {
  text-decoration: none;
  background-color: white;
  color: darkorange;
  padding: 10px 20px;
  border: 1px solid darkorange;
  border-radius: 5px;
  font-size: 26px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.product-buttons:hover {
  background-color: darkorange;
  color: white;
  transform: scale(1.5);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
