.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.profile-container h1 {
  align-items: center;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.profile-container .image-upload button {
  padding: 5px 10px;
  cursor: pointer;
}
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.image-upload {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sub-title {
  font-size: 40px;
  font-weight: 1000;
}
