.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  width: 100%;
}
.profile-container h1 {
  align-items: center;
}
.profile-container h2,
.profile-container img,
.profile-container form {
  text-align: center;
  width: auto;
}
.profile-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.profile-container .image-upload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-container .image-upload button {
  padding: 5px 10px;
  cursor: pointer;
}
.profile-details {
  display: flex;
  gap: 20px;
}
